body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.dish-name {
    font-weight: bold;
}
.quantity {
    margin-left: 10px;
    color: #666;
}

#map_pickup, #map_delivery{
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    background-color: lightblue;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h1 {
    margin-top: 0;
    color: #333;
  }
  
  .dish-container {
    margin-top: 20px;
  }
  
  #cart-items {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #total-price {
    margin-top: 20px;
    font-weight: bold;
  }



  .btn {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: right;
    text-decoration: none;
    margin-top: 10px;
    margin: 10px auto;
}
  

#address {
    width: 100%;
    padding: 6px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    overflow-wrap: anywhere;
}