body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-top: 0;
    color: #333;
}

.logout-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #45a049;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"][name="delete_dish"] {
    background-color: #f44336;
}

input[type="submit"][name="delete_dish"]:hover {
    background-color: #d32f2f;
}

input[type="submit"][name="update_dish"] {
    background-color: #2196F3;
}

input[type="submit"][name="update_dish"]:hover {
    background-color: #1976D2;
}
